*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #e6e4e4;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.nav-main{
display: flex;
align-items: center;
padding: 10px;
}

.logo{
    margin: 12px;
    width: 70px;
    display: grid;
}

.links a {
    font-size: 1rem;
    text-transform: capitalize;
    text-decoration: none;
    color: #FC6700;
    display: block;
    padding: 0;
    margin: 0 0.3rem
}

.links a:hover{
    padding: 0;
    background: transparent;
    background: hsl(206, 73%, 78%);
    color: aquamarine;
    padding-left: 1.5rem;
    
}
li{
    list-style: none;
}
.links{
    height: auto;
    display: flex;
    margin: 0 auto;
}


@media (min-width: 800px){
    .nav-center {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
      }
      .nav-header {
        padding: 0;
      }
}