
.container{
 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}
.review{
    border-radius: 16px;
background: #f2f2f2;
box-shadow:  26px 26px 51px #a5a5a5,
             -26px -26px 51px #ffffff;
}
#jovem-img{
    border-radius: 2000px;
    width: 500px;
}